<?xml version="1.0"?>
<launch>
	<!-- <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch"/> -->
    <include file="$(find point_lio)/launch/mapping_avia.launch"/>
    <include file="$(find logic)/launch/mav_ros.launch"/>
    <include file="$(find logic)/launch/logic.launch"/>
    <include file="$(find vision)/launch/vision.launch"/>
    <include file="$(find yolov5_ros)/launch/yolov5.launch"/>
    <include file="$(find project2plane)/launch/projection.launch"/>
    <include file="$(find localize_startup)/launch/static_tf.launch"/>
    <include file="$(find pcl2process)/launch/pcl2pro.launch"/>
    <include file="$(find move_controller)/launch/move_base.launch"/>
</launch>