<launch>
    <node pkg="tf" type="static_transform_publisher" name="map_tf_broadcaster_1" args="0 0 0.42 0 0 0 map camera_init 50" />
    <node pkg="tf" type="static_transform_publisher" name="map_tf_broadcaster_3" args="0 0 -0.07 0 0 0 aft_mapped base_link 50" />
    <node pkg="tf" type="static_transform_publisher" name="map_tf_broadcaster_2" args="0 0 -0.4 0 1.57 0 aft_mapped d435 50" />
    <node pkg="tf" type="static_transform_publisher" name="map_tf_broadcaster_4" args="0 0 0 0 0 0 aft_mapped body 50" />
<!--     <node pkg="tf" type="static_transform_publisher" name="map_tf_broadcaster_4" args="0 0 0.1 0 0 0 base_link livox_frame 10" /> -->
<!--     <node pkg="tf" type="static_transform_publisher" name="map_tf_broadcaster_5" args="0 0 0 0 0 0 base_link plane_base_link 10" /> -->
</launch>
